<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Campeonatos", championships_path  %></li>
      <li class="active"><%= link_to "Novo", "#" %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title"></h2>
    <div class="inner">
      <% form_for :championship, :url => championships_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>