<div class="block">
  <h3>Ações para o Grupo</h3>
  <ul class="navigation">
    <li><%= link_to "Voltar para o Campeonato", @championship %></li>
		<li><%= link_to "Voltar", championship_groups_path %></li>
		<li><%= link_to "Criar Grupo", new_championship_group_path %></li>
  </ul>
</div>