<div class="block">
  <h3>Ações para Jogador</h3>
  <ul class="navigation">
		<li><%= link_to "Voltar", @equipe %></li>
    <li><%= link_to "Criar Jogador", new_equipe_player_path(@equipe) %></li>
  </ul>
</div>